.form
  display: flex
  justify-content: center
  flex-direction: column
  width: 500px
  margin-top: 50px
  padding: 35px

.form-item
  margin-bottom: 30px
  display: flex
  flex: 2
  flex-direction: column
  &:last-child
    margin-bottom: 0